/* map */
.map-container{
    margin-top: 6.4rem;
    background-color: #e6f7eb;
    border: 1px solid #b3dae2; /* #DDE3F0 */
    border-radius: 2rem;
    overflow: hidden;
}
.map-container #mapid{
    width: 100%;
    height: 28rem;
}
.map-container .leaflet-container{
    border-bottom: 1px solid #dde3f0;
    border-radius: 2rem;
    font: 700 2rem/1 'Nunito', sans-serif;
    z-index: 5;
}
.map-container footer{
    padding: 2rem;
    text-align: center;
}
.map-container footer a,
.map-container footer p{
    text-decoration: none;
    color: #0089a5;
    font-weight: 700;
}
@media (max-width: 805px){
    .map-container #mapid{
        height: 38vw;
    }
}
@media (max-width: 700px){
    .map-container #mapid{
        height: 60vw;
    }
}